* {
  box-sizing: border-box;
}

/* oswald */
/* @font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald-v17-latin-regular.woff2") format("woff2"),
    url("/fonts/oswald-v17-latin-regular.woff") format("woff");
  font-display: swap;
} */

body {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 2;
  margin: 0.625rem 0;
}

ul {
  line-height: 1.75;
}

ul > li {
  padding: 2px 0 2px 12px;
}
